body {
	background: #42c2f4;
	color: #ffffff;
	font-family: 'Sawarabi Gothic', serif;
	font-weight: 150;
		font-weight: bold;
}

.sawarabi-font {
	font-family: 'Sawarabi Gothic', serif;
	font-weight: 150;
		font-weight: bold;
}

.kanji-base {
	position: absolute;
	top: -120px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;-webkit-align-item;center;
	-webkit-justify-content: center;
}

.oto-base {
	position: absolute;
	top: 230px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;-webkit-align-item;center;
	-webkit-justify-content: center;
}

.yomi-base {
	position: absolute;
	top: 340px;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	display: -webkit-flex;-webkit-align-item;center;
	-webkit-justify-content: center;
}

.kanji-fontsize {
	font-size: 25.2 rem;
	font-weight: bold;
}

.oto-fontsize {
	font-size: 6.2 rem;
	font-weight: bold;
}

.yomi-fontsize {
	font-size: 2.2 rem;
	font-weight: bold;
}

